/tmp
/binaries
/coverage*.txt
/api/*.html
/internal/core/VERSION
/internal/servers/hls/hls.min.js
/internal/staticsources/rpicamera/mtxrpicam_*/
mediamtx_custom.yml
/_preupgrade_backup_*/
/nvidia-cdi.reference.yaml
/local-docs/
